* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
}

.formulario {
	width:400px;
  height: auto;
	border-radius: 10px;
	margin: auto;
	background-color: #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-login {
  padding: 0 20px 20px 20px;
}

.form-signin {
  padding: 0 20px 20px 20px;
}

.campo-input {
  margin: 0;
  display: inline-block;
	height: 40px;
  width: 49%;
	border: 1px solid #ccc;
	border-radius: 10px;
}

.box_usuario {
	padding-left: 10px;
	
}

.box_senha{
	margin-top: 25px;
	padding-left: 10px;
}

.botao_login {
  width: 99%;
  margin-top: 20px;
  background-color: red;
  border: none;
  color: white;
  padding: 5px;
}

.msg_erro{
  margin:0;
  color: red;
  text-align: center;
  font-size: 16px;
}