* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: auto;
}

body {
  width: 100vh;
  margin: 20px auto;
  padding: 0;
}

.editar {
  display: none;
}

.form_post{
  margin: auto;
  width: 500px;
  height: 200px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textarea_post{
  width: 480px;
  height: 150px;
  padding: 10px;
  border: 1px solid #ccc;
  display: flex;
  margin: auto;
  font-size: 15px;
}

.botao-login {
  background-color: red;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 5px;
}

.opcoes_privacidade{
	margin-bottom: 10px;
  margin-left: 360px;
  display: inline-block;
}


.filtro {
  width: 500px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.filtro a {
  font-size: 10px;
  margin-right: 5px;
}

.post {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 500px;
  border: 1px solid #ccc;
  font-size: 14px;
  padding: 10px;
}

.campo_editar_post {
  display: flex;
  flex-direction: column;
}

.opcoes_editar {
  margin-top: 10px;
}

.opcoes_editar button {
  background-color: red;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 5px;
}

.botoes_edicao {
  margin-left: 0;
  margin-top: 10px; 
}

.botao_edite {
  border: none;
}

.botao_delete {
  border: none;

}

.post form input {
  margin-top: 10px;
}